<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Loop Demo</h1>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6">
      <p>Loop demonstration using animation done event, click "Go Loop State" to start the loop animation.</p>
      <nav>
        <button class="btn btn-primary" (click)="onStartState()">Go Start State</button>
        <button class="btn btn-primary" (click)="onLoopState()">Go Loop State</button>
        <button class="btn btn-primary" (click)="onEndState()">Go End State</button>
      </nav>
    </div>
    <div class="col-sm-6">
      <div class="wrap-block-animation">
        <div 
          [@statusChange]="{value: statusState}"
          (@statusChange.start)="onAnimationStarted($event)"
          (@statusChange.done)="onAnimationDone($event)"
          class="element-block-animated"
        ></div>
      </div>
    </div>
  </div>
</div>